# Configuración de Base de Datos MySQL
MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=recetas_db
MYSQL_USER=recetas_user
MYSQL_PASSWORD=recetas_pass
MYSQL_PORT=3306

# Configuración de la Aplicación
APP_PORT=8082

